/* #root {
  max-width: 6000px;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.input-column {
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.input-column:last-child {
  margin-right: 0;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.p-button-text {
  margin-left: 0.5rem;
}

.custom-green-button {
  background-color: #22c55e !important;
  border-color: #22c55e !important;
}

.input-with-icon {
  position: relative;
}

.input-with-icon .p-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.15rem; /* Adjust this value as needed */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  box-sizing: border-box;
  color: #220f5f;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 70px;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(217, 221, 146, 0.2);
}

tr td {
  border: 1px solid #eeeeee;
  text-align: left;
}

input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 91%;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
}

input:hover {
  background-color: #fffaf3;
}

input:focus {
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}

.date{
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 30%;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
}
